# Maven
target

# idea
*.iml
*.ipr
*.iws
.idea

# eclipse
.settings
.classpath
.project
eugene-hello/META-INF/
runner/

# Latex compiler files
*.synctex.gz
*.toc
*.out
*.pdf
*.log
*.aux

# Mac OSX files
.DS_Store
